name: C++ CI (MatFuse Build)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Eigen
        run: |
          wget https://gitlab.com/libeigen/eigen/-/archive/3.4.0/eigen-3.4.0.zip
          unzip eigen-3.4.0.zip
          mv eigen-3.4.0/Eigen ./Eigen

      - name: Compile MatFuse Core
        run: g++ -I . main.cpp -o MatFuse_Sim

      - name: Run Simulation Test
        run: ./MatFuse_Sim
